.aboutMeWrapper {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  min-height: 90vh;
  background-color: var(--background-secondary);
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 3px 6px 10px -3px #000000; 
  box-shadow: 3px 6px 10px -3px #000000;
}

.aboutMeNav {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 60px;
  border-bottom: 2px solid;
  font-size: medium;
}

.aboutMeNav a {
  padding: 10px;
  border-radius: 10px;
  background: var(--button-primary);
  color: var(--text-contrast);
  cursor: pointer;
  text-decoration: none;
}

.aboutMeNav a:hover {
  background: var(--button-primary-hover);
}

.aboutSelected {
  background-color: var(--button-primary-hover) !important;
}

.aboutMeContent {
  /* background-color: red; */
  width: 100%;
  height: 92%;
  margin: auto;
}