.listWrapper {
  /* position: absolute; */
  margin-top: 50px;
  width: 100%;
  max-height: 650px;
  display: flex;
  justify-content: center;
}

.listBody {
  width: 80%;
  min-width: 1100px;
  /* height: 90%; */
  height: auto;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  z-index: 1;
  -webkit-box-shadow: 3px 6px 10px -3px #000000; 
  box-shadow: 3px 6px 10px -3px #000000;
 }

.listHeader {
  width: 100%;
  height: 60px;

}
.listHeader h2 {
  margin-left: 5px;
}

.listFilter {
  width: calc(100% - 10px);
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

.listFilter > button {
  width: 95px;
  height: 30px;
  border: 1px solid var(--button-primary);
  border-radius: 45px;
  background-color: var(--button-primary);
  color: var(--text-contrast);
  cursor: pointer;
}

.listFilter > button:hover {
  background-color: var(--button-primary-hover);
  border: 1px solid var(--button-primary-hover);
}


.FilterSelector {
  min-width: 400px;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
}

.FilterSelector > input {
  width: 125px;
  height: 30px;
  margin-left: 5px;
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: 1px solid var(--button-primary);
  border-radius: 45px;
}


.listContent {
  display: Flex;
  flex-direction: column;
  overflow-y:scroll
}


.postRow {
  height: 50px;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 3fr 8fr 1fr;
  text-decoration: none;
  color: var(--text-primary);
}
.postRow:hover {
  background-color: var(--background-secondary-hover);
  cursor: pointer;
}

.postRow > h4 {
  /* margin-top: 13px; */
  align-self: center;
  min-width: 300px;
}

.postRow > p {
  padding-left: 5px;
  font-size: small;
  /* min-width: 500px; */
}

.postRowID {
  position: relative;
  text-align: center;
  width: 30px;
  min-width: 30px;
  height: 25px;
  min-height: 25px;
  align-self: center;
  justify-self: center;
  background-color: var(--border-type-color);
  border-radius: 100%;
}

[post-type='Emotional'] {
  --border-type-color: rgba(0, 128, 0, .3);
}

[post-type='Technical'] {
  --border-type-color: rgba(255, 165, 0, .3);
}

[post-type='Mini-Project'] {
  --border-type-color: rgba(255, 0, 0, .3);
}