.App {
  color: var(--text-primary);
  background-color: var(--background);  
  font-size: large;
  font-weight: bold;
  /* padding: 20px; */
  min-height: 100vh;
  /* transition: all .5s; */
  /* z-index: 1; */
}

.backgroundVideo {
  height: 100%;
  width: auto;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  z-index: 0;
}


