.App {
  color: var(--text-primary);
  background-color: var(--background);  
  font-size: large;
  font-weight: bold;
  /* padding: 20px; */
  min-height: 100vh;
  /* transition: all .5s; */
  /* z-index: 1; */
}

.background-wrapper { 
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
}

.backgroundVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}


