body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--button-primary-hover);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--button-primary);
}


:root {
  /* --background-image: url('./Images/background-light.mp4'); */

  --background: rgb(241, 241, 241);
  --background-hover: rgba(205, 205, 205, .5);

  --background-secondary: rgb(233, 233, 233);
  --background-secondary-hover: rgba(197, 197, 197, 0.5);

  --background-contrast: rgb(280, 280, 280);
  --background-contrast-hover: rgb(248, 248, 248);
  --text-contrast: rgb(240, 240, 240);

  --button-primary: rgb(73, 73, 73);
  --button-primary-hover: rgba(73, 73, 73, .5);
  --button-primary-selected: rgb(36, 36, 36);

  --text-primary: rgb(0, 0, 0);
  --text-primary-hover: rgba(0, 0, 0, .5);
  --text-secondary: royalblue;
  --accent: purple;
}

[datatheme='dark'] {
  /* --background-image: url('./Images/background-dark.mp4'); */

  --background: rgb(24, 25, 26);
  --background-hover: rgba(24, 25, 26, .5);

  --background-secondary: rgb(36, 37, 38);
  /* --background-secondary-hover: rgba(36, 37, 38, .5); */
  --background-secondary-hover: rgba(24, 25, 26, .5);

  --background-contrast: rgb(194, 194, 194);
  --background-contrast-hover: rgb(210, 210, 210);
  --text-contrast: rgb(0, 0, 0);

  --button-primary: rgb(194, 194, 194);
  --button-primary-hover: rgba(194, 194, 194, .5);
  --button-primary-selected: rgb(65, 65, 65);

  --text-primary: rgb(255, 255, 255);
  --text-primary-hover: rgba(255, 255, 255, .5);
  --text-secondary: grey;
  --accent: darkred;
}