.Carousel-wrapper {
  height: 200px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel-body {
  height: 100%;
  width: 100%;
  background-color: var(--background-secondary);
  flex: 1000%;
}

.button-wrapper {
  background-color: var(--background-secondary);
  width: 100%;
  height: 100%;
  display: flex; /* applied flex again as the new wrappers children didnt inherit the property */
  align-items: center;
  justify-content: center;
}

/* .arrow {
  width: 10%;
  height: 10%;
  margin: 0px;
  background: red;
} */

.right {
  transform: rotate(180deg);
}