.nav {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  height: 50px;
  width: 100%;
  color: var(--text-primary);
  -webkit-box-shadow: 1px 5px 10px 0px #000000; 
  box-shadow: 0px 0px 10px 0px #000000;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.nav-header {
  color: var(--text-primary);
  background-color: var(--background-secondary);
  font-size: larger;
  text-decoration: none;
}

.nav-theme {
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: none;
}

.nav-button {
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: none;
  text-decoration: none;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.nav-button:hover {
  color: var(--text-primary-hover);
}

.nav-items {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content:center;
}




