.postWrapper {
  width: 80%;
  height: auto;
  /* min-height: 50%; */
  background-color: var(--background-secondary);
  margin: auto;
  margin-top: 30px;
  padding-bottom: 20px;
}

.postTitle {
  padding-top: 10px;
  text-align: center;
}

.postContent {
  margin-left: 5%;
  margin-right: 5%;
}

.contentBlock {

}

.textBlock {

}

h3, h4 {
  margin-left: 1%;
}

.imageBlock {
  
}

.imageBlock, img {
  
}

.imageBlock, p {
  
}

.iFrameBlock, iframe {
  width: 100%;
  height: 00px;
}

.oListBlock {
  
}

.uListBlock {
  
}