.listWrapper {
  margin-top: 50px;
  width: 100%;
  height: 650px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.listBody {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: var(--background-secondary);
 }

.listHeader {
width: 100%;
height: 60px;
background-color: red;
}
.listHeader h2 {
  margin: 0;
}

.listFilter {
  width: 100%;
  height: 60px;
  background-color: blue;
}

.listContent {

}
